/* Table settings the hash indicates that a ID attribute of an HTML element is accessed*/
#calendar_table {
    font-family: "Arial Black", serif;
    font-size: 16px;
    color: white;
    border-color: red;
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

#calendar_table td {
        cursor: pointer;
        width: 14.28%;
        user-select: none;
    }

#calendar_table tr {
        text-align: center;
        height: 50px;
    }

#month_year {
    color: white;
}

.free {
    background-color: #033519;
}

.freed {
    background-color: #554f13;
}

.blocked {
    cursor: default !important;
    background-color: #545454;
}

.self_blocked {
    background-color: grey;
}

.past {
    cursor: default !important;
    background-color: transparent;
}

.h2 {
    font-size: 40px;
    color: white;
    margin-bottom: 0;
    margin-top: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    font-family: "Arial Black", serif;
    visibility: hidden;
    width: 120px;
    background-color: #545454;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    z-index: 1;
    position: absolute;
    top: -5px;
    right: 105%;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
