/* Table settings the hash indicates that a ID attribute of an HTML element is accessed*/
#calendar_table {
    font-family: "Arial Black", serif;
    color: white;
    border-color: red;
    width: 80%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 0 auto;
}

#calendar_table td {
        cursor: pointer;
        width: 14.28%;
        user-select: none;
    }

#calendar_table tr {
        text-align: center;
        height: 50px;
    }

#month_year {
    color: white;
}

.free {
    background-color: green;
}

.freed {
    background-color: orange;
}

.blocked {
    cursor: default !important;
    background-color: #545454;
}

.self_blocked {
    background-color: grey;
}

.past {
    cursor: default !important;
    background-color: transparent;
}

/* Initial state of the containers to fade in */
fade-div {
  opacity: 20%;
  /* ToDo: set opacity to 0% later. Set visibility to none. Yet the 20% are just for debugging reasons
      display = none;
      opacity: 0%;
      */
}
