python>=3.13.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
Deprecated==1.2.14
Flask==3.0.0
Flask-Limiter==3.8.0
importlib-metadata==7.0.1
importlib_resources==6.4.5
itsdangerous==2.1.2
Jinja2==3.1.2
limits==3.13.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ordered-set==4.1.0
packaging==24.1
pip==23.3.2
Pygments==2.18.0
python-dateutil==2.9.0
rich==13.9.3
setuptools==69.0.3
six==1.16.0
typing_extensions==4.12.2
Werkzeug==3.0.1
wheel==0.42.0
wrapt==1.16.0
zipp==3.17.0
