body {
  background: #2b2b2c;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px;
  opacity: 20%;
}

h1 {
  font-size: 50px;
  color: white;
  font-family: "Arial Black", serif;
  margin-bottom: 5px;
}

p {
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: "Arial Black", serif;
}

button {
  background-color: #396ea2;
  margin: 5px;
  padding: 8px 16px;
  border: #697177 3px solid;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

/* Initial state of the containers to fade in */
.fade_div {
    display: none;
    opacity: 0.0%;
}

/*the fade animations*/
@keyframes fade-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}