<!DOCTYPE html>
<html lang="en">

<head>
  <style>
      div {
  width: 30vw;
  height: 30vh;
  background-color: darkred;
  opacity: 100%;
}
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>fade-in_fade-out</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <button id="fade" onclick="fade()">fade-out</button>
  <div class="main" id="div">some text</div>
  <script type="text/javascript" src="../static/fade_script.js"></script>

  <footer class="footer" id="footer">auto fading in</footer>
  <script> auto_fade_in(document.getElementById("footer")) </script>

</body>


</html>