<!DOCTYPE html>
<html lang="en">

<head>
    <title>Month Grayer</title>
    <link rel="stylesheet" type="text/css" href="../static/monthGrayer.css">

    <script>
        // ToDo: autosave: The user dictionary is updated on every click, albeit the "finished vote" status is found when he closes the page or goes to another tab in his browser for a certain time (10 seconds?).
    </script>
    <script type="text/javascript" src="../static/calendar.js"></script>
    <script type="text/javascript" src="../static/fade_script.js"></script>
    <script type="text/javascript" src="../static/user_check.js"></script>
    <script type="text/javascript" src="../static/dynamic_input-box_width.js"></script>
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="calendarInit()">
    <h1 style>
        Month Grayer
    </h1>

    <input type="text" id="current_user" style="text-align: center; font-size: 16px;" autofocus="autofocus"
        placeholder="... Name, Nick, Initials, Pseudonym ..."
        onkeydown="this.style.width = getWidthOfInput(event) + 'px'" onkeyup="check_user()">

    <br>
    <button type="button" id="create_user" onclick="create_user(current_user)" style="display: none">I shouldn't be
        visible.</button>
    <br>


    <fade-div class="fade_div" id="calendarContainer">
        <h2 id="month_year" style="text-align: center; font-size: 40px;"></h2>
        <table id="calendar_table">
        </table>
    </fade-div>

</body>

</html>