<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings page</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/settings.css"/>
    <script type="text/javascript" src="../static/user_settings.js"></script>
    <script type="text/javascript" src="../static/fade_script.js"></script>
</head>
<script>current_username = "{{username}}";</script>
<body onload=settings_init() style="background: #2b2b2c;color:white;font-family:verdana,serif">

<p style="text-align:center; background-color: transparent">
    This is the Settings Page.<br>
    For which groups is {{ username }} essential?
    <br>
    <a href="/" >Go back to the main page</a>
</p>

<div id="wrapper">
<p  id="legend" style="float: left; padding: 1rem; background-color: black">
    <span style="font-size: large; text-decoration: underline">Legend:</span> <br>
    <span style="color: #004f23">Free</span> <br>
    <span style="color: #554f13">Freed</span> <br>
    <span style="color: #545454">Blocked</span> <br>
    <span style="color: grey">Self blocked</span> <br>
    <span style="color: #2b2b2c">Past</span> <br>

<div class="group_settings_container" id="groupSettingsContainer" style="float: right">
{# here the groups to choose or create will be generated #}
</div>
</div>

</body>
</html>